@import 'variables.scss';

.filter-bar {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin-left: -16px;

	&__item {
		position: relative;
		margin: 8px;
		padding-top: 10px;
		color: $color-white;
		text-transform: uppercase;
		cursor: pointer;
		font-size: 12px;

		&.active::after {
			content: '';
			position: absolute;
			border-bottom: 3px solid $color-red;
			bottom: -24px;
			left: 0;
			height: 2px;
			width: 100%;
			z-index: 1;
		}
	}
}
