@import 'variables.scss';

.menu {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 16px;

	&:after {
		content: '';
		position: absolute;
		height: 3px;
		background: $color-middle-gray;
		width: 100%;
		bottom: 0;
		box-shadow: 0 2px 4px $color-black;
	}
}
