@import 'variables.scss';

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.72);
	z-index: 9;
	display: flex;
	justify-content: center;
	align-items: center;

	&__container {
		position: absolute;
		height: auto;
		width: 50%;
		min-height: 100px;
		background-color: $color-dark-gray;
		padding: 20px 30px;
		border-radius: 8px;
		box-shadow: 0 0 36px $color-black;
	}

	&__close-btn {
		position: absolute;
		right: 18px;
		top: 18px;
		background: none;
		border: 0;
		height: 22px;
		width: 22px;
		cursor: pointer;
		font-size: 22px;

		&::after {
			content: '✕';
			position: absolute;
			right: 0;
			left: 0;
			top: -5px;
			bottom: 0;
			margin: auto;
			color: $color-white;
		}
	}
}
