@import 'variables.scss';

.movie-form {
	&__header {
		font-weight: normal;
		text-transform: uppercase;
		font-size: 28px;
		margin: 0;
	}

	&__id {
		&-title, &-value {
			margin: 4px 0;
		}

		&-title {
			color: $color-red;
			text-transform: uppercase;
		}

		&-value {
			color: $color-white;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
	}

	&__label {
		color: $color-red;
		text-transform: uppercase;
		margin: 16px 0 8px;
		font-weight: bold;
	}

	&__input {
		height: 42px;
		padding: 8px 16px;
		font-size: 16px;
		border-radius: 4px;
		background-color: #2e2e2e;
		color: $color-white;
		border: 0;
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
		margin: 20px 0;
	}

	&__btn {
		height: 50px;
		text-transform: uppercase;
		border: 0;
		border-radius: 4px;
		width: 184px;
		font-size: 18px;
		margin-left: 16px;
		cursor: pointer;
	}

	&__submit {
		background-color: $color-red;
		color: $color-white;
	}

	&__reset {
		background-color: transparent;
		color: $color-red;
		border: 1px solid $color-red;
	}
}
