@import 'variables.scss';

.movie-card {
	margin-right: 80px;
	margin-bottom: 74px;

	&:nth-child(3n) {
		margin-right: 0;
	}

	&__img {
		height: 460px;
	}

	&__info {
		position: relative;
		margin-top: 12px;
	}

	&__title {
		width: 70%;
	}

	&__category {
		margin-top: 6px;
		font-size: .875rem;
	}

	&__year {
		position: absolute;
		top: 0;
		right: 0;
		border: 1px solid #fff;
		padding: 2px 12px;
		font-size: .75rem;
		border-radius: 4px;
	}
}