@import 'variables';

.movies {
	margin-top: 24px;

	&__grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: stretch;
		margin-top: 24px;
	}

	&__results-counter {
		font-size: 1.25rem;
	}
}