@import 'variables.scss';

.movie-card {
	display: flex;
	flex-direction: column;
	position: relative;
	cursor: pointer;
	width: 30%;
	padding: .7%;
	margin: 0 .7% 74px;

	&:nth-child(3n) {
		margin-right: 0;
	}

	&__img {
		height: 460px;
	}

	&__info {
		position: relative;
		margin-top: 12px;
	}

	&__title {
		width: 80%;
	}

	&__category {
		margin-top: 6px;
		font-size: .875rem;
	}

	&__year {
		position: absolute;
		top: 0;
		right: 0;
		border: 1px solid #fff;
		padding: 2px 12px;
		font-size: .75rem;
		border-radius: 4px;
	}

	&__menu {
		position: absolute;
		display: block;
		right: 12px;
		top: 12px;

		&-open-btn {
			display: block;
			height: 32px;
			width: 32px;
			border-radius: 50%;
			border: 0;
			background-color: $color-dark-gray;
			box-shadow: 0 0 3px #666;
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s, opacity .2s linear;
			cursor: pointer;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 20px;
				background-image: radial-gradient(circle, $color-white 1px, transparent 3px);
				background-size: 100% 33.333%;
				transform: translate(2%, 6px);
			}
		}

		&-popup {
			position: absolute;
			top: -2px;
			right: -2px;
			display: block;
		}

		&-popup-list {
			position: absolute;
			top: 0;
			right: 0;
			padding: 30px 0 10px;
			background-color: $color-dark-gray;
			border-radius: 4px;
			width: 220px;

			&-item {
				padding: 8px 20px;

				&:hover {
					background-color: $color-red;
					cursor: pointer;
				}
			}
		}

		&-close-btn {
			position: absolute;
			right: 8px;
			top: 4px;
			background: none;
			border: 0;
			height: 22px;
			width: 22px;
			cursor: pointer;

			&::after {
				content: '✕';
				position: absolute;
				right: 0;
				left: 0;
				top: 2px;
				bottom: 0;
				margin: auto;
				color: $color-white;
			}
		}
	}

	&:hover &__menu-open-btn {
		visibility: visible;
		opacity: 1;
	}
}
