@import 'variables.scss';

.sort {
	display: flex;
	align-items: center;

	&__label {
		text-transform: uppercase;
		color: $color-light-gray;
		margin-right: 12px;
	}

	&__select {
		background: none;
		border: 0;
		text-transform: uppercase;
		font-size: 1rem;
		color: $color-white;

		option {
			background-color: $color-dark-gray;
		}
	}
}
